body {
    margin: 0;
    font-size: 14px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.wcontainer{
  padding: 5% 5%;
  @include respond(tab-port){
    padding: 3% 3%;
}
}

.noscroll { 
  position: fixed;
  overflow-y: hidden;
  width: 100%;
}

h2{
  font-weight: 700;
  font-size: $fs-xlg;
}