// Wave Animations on startup
@keyframes moveUp1 {
    0%{
        transform: translateY(40rem);
    }
    60%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }
    
}

@keyframes moveUp2{
    0%{
        transform: translateY(25rem);
    }
    100%{
        transform: translateY(0);
    }
}


@keyframes moveUp3 {
    0%{
        transform: translateY(20rem);
    }
    40%{
        transform: translateY(-3rem);
    }
    100%{
        transform: translateY(0);
    }
}

// Marquee Animation for Tech
@keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }