.header{
    background-color: $bg-pri;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    &__navbar{
        flex: 0 1 auto;
        position: fixed;
        top:0;
        left:0;
        right: 0;
        z-index: 9999; 
        &__nav-item:not(:last-child){
            padding: 0 5rem;
            @include respond(tab-port){
                padding: 0 5rem;
            }
        }
    }

    &__body{
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-25%, -50%);
        &__container{
            &__slogan{
                // Temp
                font-size: $fs-md;
                color: $fc-pri;
            }
        }
    }
}

// Override Navbar section
.nav-link{
    font-size: $fs-md;
    font-family: 'Inter', sans-serif;
    color: $fc-pri;
}


.navbar-nav{
    flex-direction: row;
}
.nav-link:focus, .nav-link:hover{
    animation: swing;
    animation-duration: 1s;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0;
    padding-left: 0;
}
