.header{
    background-color: $bg-pri;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    &__navbar{
        flex: 0 1 auto;
        
        &__nav-item:not(:last-child){
            padding: 0 5rem;
            @include respond(tab-port){
                padding: 0 5rem;
            }
        }
    }

    &__body{
        flex: 1 1 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        user-select: none;
        &__container{
            transform: translateY(-7.5rem);
            &__logo{
                width: 50%;
                margin: auto;
                @include respond(tab-port){
                    width: 100%;
                }
                height: auto;
            }
            &__slogan{
                // Temp
                font-size: $fs-md;
                color: $fc-pri;
            }
        }
    }
}

// Override Navbar section
.nav-link{
    font-size: $fs-md;
    font-family: 'Inter', sans-serif;
    color: $fc-pri;
}


.navbar-nav{
    flex-direction: row;
}
.nav-link:focus, .nav-link:hover{
    animation: swing;
    animation-duration: 1s;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0;
    padding-left: 0;
}
