.wbody{
    color: $fc-sec;
    height: auto;
    background-color: $bg-sec;
    &__svgs{
        position: relative;
        &__svg{
            position: absolute;
            top: -20rem;
            z-index: 0;
            width: 100%;
            height: auto;
            &--1{
                animation: moveUp1;
                animation-duration: $t-init;
                animation-timing-function: ease;
            }
            &--2{
                animation: moveUp2;
                animation-duration: $t-init;
            }
            &--3{
                animation: moveUp3;
                animation-duration: $t-init;
            }
        }
        
    }
    &__content{
        position: relative;
        &__section{
            padding: 7% 10%;
            @include respond(tab-port){
                padding: 5% 3%;
            }
            &__container{
                &__col{
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr;
                    &__row{
                        margin: 10vh 0;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        &--pic{
                            & img{
                                height: auto;
                                width: 100%;
                            }
                            padding: 2rem;
                        }
                        &--info{
                            padding: 2rem;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                }
            }
            &--tech{
                max-width: 100%;
                &__text{
                    
                    transform: translateX(150%);
                    white-space: nowrap;
                    display: inline-block;
                    animation: marquee 8s linear infinite;
                    & p{
                        & i{font-size: $fs-xlg;}
                        display: inline-block;
                    }
                    
                }
            }
            &--services{
            }
            
        }
    }
    & p{
        font-size: $fs-lg;
    }
}


// Service Card
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    @include respond(tab-land){
        max-width: 100%;
    }
    @include respond(tab-port){
        flex-direction: column;
    }
    margin: 0 auto;
}

.servicecard{
    background-color: $bg-pri;
    color: $fc-ter;
    width: 30%;
    margin: 0 auto;
    @include respond(tab-land){
    }
    @include respond(tab-port){
        width: 80%;
    }
    &:not(:first-child){
        @include respond(tab-port){
            margin-top: 5rem;
        }
    }
    &:not(:last-child){
        @include respond(tab-port){
            margin-bottom: 5rem;
        }
    }
    text-align: center;
    position: relative;
    border-radius: 5%;
    overflow: hidden;
    & div{
        padding: 1rem 0.5rem;
    }
    & i{
        font-size: $fs-xlg;
    }
    & p{
        font-size: $fs-sm;
    }

}

#servicecard-top{
    background-size: cover;
    border-radius: 5% 5% 0% 0%;
    height: 15rem;
}

#servicecard-header{
    position: absolute;
    top: 0;
    margin: 0 auto;
    padding: 0.4rem;
    width: 100%;
    background-color: white;
    opacity: 0.90;
    transform: rotate(-25deg) translate(-25%, -1rem);
}