@keyframes moveUp1 {
  0% {
    transform: translateY(40rem);
  }
  60% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveUp2 {
  0% {
    transform: translateY(25rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveUp3 {
  0% {
    transform: translateY(20rem);
  }
  40% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
body {
  margin: 0;
  font-size: 14px;
  width: 100%;
  position: relative;
  font-family: "Inter", sans-serif;
}

.wcontainer {
  padding: 5% 5%;
}

.noscroll {
  position: fixed;
  overflow-y: hidden;
  width: 100%;
}

.footer {
  background-color: #706C61;
  text-align: center;
  color: #FFFDF4;
}

.header {
  background-color: #7BC0FF;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.header__navbar {
  flex: 0 1 auto;
}
.header__navbar__nav-item:not(:last-child) {
  padding: 0 5rem;
}
.header__body {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}
.header__body__container {
  transform: translateY(-7.5rem);
}
.header__body__container__slogan {
  font-size: 1.4rem;
  color: #FFFDF4;
}

.nav-link {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  color: #FFFDF4;
}

.nav-link:focus, .nav-link:hover {
  animation: swing;
  animation-duration: 1s;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0;
  padding-left: 0;
}

.wbody {
  color: #706C61;
  height: auto;
  background-color: #FFFDF4;
}
.wbody__svgs {
  position: relative;
}
.wbody__svgs__svg {
  position: absolute;
  top: -20rem;
  z-index: 0;
}
.wbody__svgs__svg--1 {
  animation: moveUp1;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
.wbody__svgs__svg--2 {
  animation: moveUp2;
  animation-duration: 1.5s;
}
.wbody__svgs__svg--3 {
  animation: moveUp3;
  animation-duration: 1.5s;
}
.wbody__content {
  position: relative;
}
.wbody__content__section {
  padding: 8rem 10rem;
}
.wbody__content__section__container__col {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.wbody__content__section__container__col__row {
  margin: 10vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.wbody__content__section__container__col__row--pic {
  padding: 2rem;
}
.wbody__content__section__container__col__row--pic img {
  height: auto;
  width: 100%;
}
.wbody__content__section__container__col__row--info {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wbody__content__section--tech {
  max-width: 100%;
}
.wbody__content__section--tech__text {
  transform: translateX(150%);
  white-space: nowrap;
  display: inline-block;
  animation: marquee 8s linear infinite;
}
.wbody__content__section--tech__text p {
  display: inline-block;
}
.wbody__content__section--tech__text p i {
  font-size: 3rem;
}
.wbody__content__section--services {
  background-color: #7BC0FF;
}
.wbody p {
  font-size: 2rem;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}

.servicecard {
  background-color: #FFFDF4;
  color: rgb(41, 40, 40);
  width: 30%;
  text-align: center;
  border-radius: 5%;
}
.servicecard div {
  padding: 1rem 0.5rem;
}
.servicecard i {
  font-size: 3rem;
}
.servicecard p {
  font-size: 1rem;
}

/*# sourceMappingURL=index.css.map */
